<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this formula", edit_post_path(@post) %> |
  <%= link_to "Back to main page", posts_path %>

  <%= button_to "Delete this formula", @post, method: :delete %>
</div>
